[submodule "lib/closure/library"]
	path = lib/closure/library
	url = https://github.com/google/closure-library
[submodule "firebase-simple-login-objc"]
	path = firebase-simple-login-objc
	url = git://github.com/firebase/firebase-simple-login-objc
[submodule "firebase-simple-login-java"]
	path = firebase-simple-login-java
	url = git://github.com/firebase/firebase-simple-login-java
