# Distribution files
firebase-simple-login.js
firebase-simple-login-debug.js

# Building
deps.js

# Mac OS-X
.DS_Store

# Temporary Files
*~
*.tmp
*.*swp
*.*swo

# Node / NPM
npm-debug.log
node_modules/

# Bower
bower_components/

# Python
*.pyc

# IntelliJ
.idea
*.iml
